extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to delete
  else
    - let vegetablesid = toShow._id
    - let vegetables_name = toShow.vegetables_name
    - let vegetablescolor = toShow.color
    - let vegetablesweight = toShow.weight
    - let actionid = "/resource/vegetables/" + vegetablesid
    script let actionid = "#{actionid}"
    div
    div.row
    div(class='vegetablesAttr mr-3') vegetables ID is: 
      span(style="color:red") #{vegetablesid}
    div.row
    div(class='vegetablesAttr mr-3') vegetables name is: 
      span(style="color:red") #{vegetables_name}
    div.row
    div(class='vegetablesAttr mr-3') vegetables color is: 
      span(style="color:red") #{vegetablescolor}
    div.row
    div(class='vegetablesAttr mr-3') vegetables weight is: 
      span(style="color:red") #{vegetablesweight}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
    // Go back to the home page for the vegetables collection
    window.location.href='/vegetables'
    }
    function deleteOnid() {
    console.log("starting delete")
    // delete first
    fetch(actionid, {
    method: 'DELETE' // Don't need a body for the delete
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Delete succeded")
    window.location.href='/vegetables'
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Delete failed " + error )
    });
    }
